option_settings:
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: c7i-flex.large
    RootVolumeSize: "30"
    RootVolumeType: gp3
    DisableIMDSv1: true
  aws:ec2:instances:
    InstanceTypes: c7i-flex.large
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:elasticbeanstalk:application:environment:
    RAILS_ENV: production
    RACK_ENV: production
    BUNDLE_WITHOUT: "development:test"
    BUNDLE_DEPLOYMENT: "true"
    ACTIVE_STORAGE_SERVICE: s3
    S3_BUCKET: divyarajsinh-nexus-hub-production-222165865576
    S3_REGION: ap-south-1
    REDIS_URL: redis://127.0.0.1:6379/1
    LOCAL_POSTGRES_ENABLED: "true"
    LOCAL_POSTGRES_DB: nexus_hub_production
    LOCAL_POSTGRES_USER: nexus_hub
    RAILS_LOG_TO_STDOUT: "true"
    RAILS_SERVE_STATIC_FILES: "true"
    SEED_DEMO: "false"
    WEB_CONCURRENCY: "1"
    RAILS_MAX_THREADS: "5"
    RAILS_MIN_THREADS: "5"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /up
